@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik+Mono+One&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
  }

  :root {
    --font-prin: Verdana, Geneva, Tahoma, sans-serif;
    --font-head: 'Rubik Mono One', sans-serif;
    --font-poema: 'Cedarville Cursive', cursive;;
  }

  html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  header {
    background-color: black;
    color: white;
    text-align: center;
  }

  header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-head);
    font-size: 7vw;
    text-shadow: 1px 1px 1px black;
  }

  header > p {
    font-family: var(--font-prin);
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px black;
  }

  header a {
    text-decoration: none;
    color: white;
  }

  header a:hover {
    text-decoration: underline;
  }

  section {
    background-color: white;
    font-size: 3vw;;
    line-height: 2em;
    font-family: var(--font-poema);
  }

  section.normal {
    padding: 20px;
  }

  section.normal > p {
    padding-bottom: 4vw;
    padding-top: 4vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
    font-weight: normal;
  }

  section.img {
    height: 830px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: var(--font-poema);
    background-color: rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);;
  }

  section.img > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    color: white;
  }

  section#i1 {  
    background-image: url('../imagens/img001.jpg');
    background-position: right top;
  }

  section#i2 {
    background-image: url('../imagens/img002.jpg');
    background-position: center center;
  }

  footer {
    font-family: var(--font-prin);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  footer a:hover {
    text-decoration: underline;
  }